@{
    ViewBag.Title = "Главная";
}
<div>
    <h1>ОФИЦИАЛЬНЫЙ ЦЕНТР СЕРТИФИЦИРОВАННОГО ОБУЧЕНИЯ ФИРМЫ «1С» В Г. ПЕРМИ</h1>
    <h2>Что такое Центр Сертифицированного Обучения (ЦСО)</h2>
    <p>ЦСО — это статус, который присваивается «1С» учебным центрам фирм партнеров, доказавшим грамотность и квалификацию своих преподавателей и методик обучения.</p>
    <h2>Чем отличается ЦСО от обычных учебных центров</h2>
    <p>ЦСО проводит обучение курсами, сертифицированным «1С», т.е. материал, преподаваемый в ЦСО, одобрен методистами и разработчиками прикладных решений «1С» для проведения по всей России.</p>
    <p>Обучение в ЦСО проводят опытные специалисты, прошедшие методическую подготовку по проведению курса, аттестованные в «1С» и имеющие сертификат преподавателя ЦСО.</p>
    <p>По окончании курсов слушателям выдается номерное свидетельство фирмы «1С».</p>
    <h2>Выгода обучения в ЦСО</h2>
    <p>Занятия в ЦСО проводятся по единой методике, и в центре, и в регионах - значит, существенно сокращаются расходы на проезд и проживание в центре.</p>
    <p>Все слушатели получают методическое пособие, содержащее помимо описательной части решение сквозной задачи.</p>
    <p>Для подтверждения своих знаний предоставляется возможность бесплатной сертификации «1С:Профессионал» по пройденному курсу.</p>
    <h2>Порядок записи и обучения</h2>
    <p>Начало занятий определяется по комплектации групп: от 3 до 6 человек. Возможно корпоративное обучение с выездом к Заказчику.</p>
    <h2>Контакты</h2>
    <table class="table tab-content table-hover table-striped">
        <tr>
            <td>Адрес:</td>
            <td>г. Пермь, ул. Екатерининская, 141</td>
        </tr>
        <tr>
            <td>Телефон/факс:</td>
            <td>(342) 214-24-39</td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td>info@atperm.ru</td>
        </tr>
        <tr>
            <td>Служба контроля качества:</td>
            <td>serg@atperm.ru</td>
        </tr>
        <tr>
            <td>Режим работы:</td>
            <td>09:00 - 18:00 (пн-чт)<br />09:00 - 17:00 (пт)</td>
        </tr>
    </table>
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab441989904055894db839dead0922d5aa546649ff36a4bb8aa2d21dfa6c635ad&amp;source=constructor" height="500" width="100%" frameborder="0"></iframe>
</div>